

/* #backg{
    width: 100%;
    height:auto; */
    /* background-color: rgb(43, 173, 190); */
    /* background-image: linear-gradient(to right,  rgba(245, 224, 192, 0.779), rgba(245, 224, 192, 0.779)) ; */
     /* background-image:  url(WhatsApp\ Image\ 2024-11-18\ à\ 17.25.45_7417fa27.jpg ); 
     position: relative;

    } */
    body{
        background-image: linear-gradient(TO bottom, rgba(0, 0, 0, 0.566), rgba(0, 0, 0, 0.247)) ,  url(bibliotique.jpg );  
 
    }
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content:  space-between;
        background-color: rgb(9, 168, 221);
    margin-top: 0;
     position: sticky;
     top: 0px;
     border-radius: 30%;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    nav img{
        width: 100PX;
        height:  50PX;
        border-radius:30%;
        margin-right: 20PX;
        margin-left: 20PX;
    }
    ul{
    list-style: none;
    margin-right: 300PX;
    display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-items: center;
    }
    
    ul li{
        margin : 0 20PX 0 20PX;
    }
    li a{
        text-decoration: none;
        text-transform: capitalize;
        color:white;
        padding: 10PX;
    }
    li:hover{
        background-color: rgb(227, 141, 12);
        border-radius: 20%;
    }
    /*
#menu{
    width: 100%;
    height: 100px;
    background-color:rgb(9, 168, 221);
    /* margin-top: 40px; 
    
    
    
     display: inline;
    position:relative;
    top: 20px;
    left: 70px;
    font-weight: 900;
    font-size: x-large;*/
     /*
    border-radius: 70px  ;
    position:static ;
    top: 0px;
}
#title p{
   
}
/* #titre span{
    color: yellow;
} 
 #title>img{
    width: 130px;
    height: 60px;
    border-radius: 70px 70px 70px 70px;
    position: relative;
    top: 10px;
    left: 30px;
 }
 #links{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 50px;
   position: relative;
   bottom: 40px;
   left: 100px;
 }
 #one a{
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 #joj a{
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 #tla a{
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 #four a{
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 #khm a{
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
  #links a:hover{
    background-color: orange;
    padding: 10px;
    border-radius: 70px;
    
 }
 */
  
 #lib{
    
    text-align: center;
color :rgb(169, 106, 11); 
    font-size: 50px;
    font-family:  Georgia, Times, 'Times New Roman', serif;
 }
 #un{
    height: 120px;
    background-color: aliceblue;
    border-radius: 70px;
 }
 #deux{
    height: 120px;
    background-color: aliceblue;
    border-radius: 70px;
 }
 #trois{
    height:120px;
    background-color: aliceblue;
    border-radius: 70px;
 }
 #quatre{
    height: 120px;
    background-color: aliceblue;
    border-radius: 70px;
 }
footer{
    
     display: flex;
     flex-wrap: nowrap;
     justify-content: center;
     align-items: center;
     flex-direction: column;
    background-color: rgb(20, 8, 95);
    height:  auto;
    color: rgb(171, 171, 171);
    margin-bottom:0 ;
}
footer h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
#icon i{
    width: 80px;
    height: 60px;
    
   
}
.fa-facebook{
    font-size: 70px;
    margin-right: 40px;
}
.fa-twitter{
    font-size: 70px;
    margin-right: 40px;
}
.fa-instagram{
    font-size: 70px;
    margin-right: 40px;
}
.fa-youtube{
    font-size: 70px;
    margin-right: 40px;
}
/* #social{
    position: relative;
    background-color: rgb(0, 0, 0);
    height: 200px;
    top: 50px;
    gap: 40px;
    
}
#social a{
    text-decoration: none;
    color: aliceblue;
    font-size: 32px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    left: 500px;
  
}
#social h2{
    margin-top: 30px;
    text-align: center;
    color: aliceblue;
}
#social div{
    display: inline;
    gap: 30px;
}
#hhh{
    gap: 40px;
} */
